{{- range .Values.loadBalancers }}
{{- if .enabled }}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ .name }}-lb-dummy
  namespace: {{ $.Values.global.namespace }}
  labels:
    {{- include "load-balancers.labels" $ | nindent 4 }}
    app.kubernetes.io/name: {{ .name }}-lb-dummy
spec:
  type: ClusterIP
  selector:
    {{- include "load-balancers.selectorLabels" (dict "name" .name "Release" $.Release) | nindent 4 }}
  ports:
  - port: 80
    targetPort: 80
    protocol: TCP
{{- end }}
{{- end }}
